#top-left-header {
  position: absolute;
  left: 50px;
  top: 10px;
  width: 133px;
  height: 25px;

  text-transform: uppercase;
  font-family: Inconsolata, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 24px;
  line-height: 25px;
  vertical-align: top;
  letter-spacing: -0.08em;

  color: #333333;
}

#left-side-image {
  position: absolute;
  left: 50px;
  top: 140px;
  width: 570px;
  height: 450px;
}

#info-large-right-side {
  position: absolute;
  width: 586px;
  height: 190px;
  left: 735px;
  top: 90px;

  font-family: Space Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 95px;
  letter-spacing: -0.035em;

  /* Gray 1 */

  color: #333333;
}

#info-small-right-side {
  position: absolute;
  width: 381px;
  height: 100px;
  left: 736px;
  top: 330px;

  font-family: Space Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.035em;

  /* Gray 2 */

  color: #4f4f4f;
}

button {
  position: absolute;
  width: 216px;
  height: 68px;
  left: 740px;
  top: 513px;

  /* Gray 1 */

  background: #333333;

  font-family: Space Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  letter-spacing: -0.035em;
  text-transform: uppercase;

  color: #ffffff;
}

.footer {
  position: absolute;
  width: 287px;
  height: 17px;
  left: 577px;
  top: 670px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #bdbdbd;
  margin-bottom: 24px;
}

@media only screen and (max-width: 375px) {
  #top-left-header {
    position: absolute;
    left: 24px;
    top: 20px;
    width: 133px;
    height: 25px;
  }

  #left-side-image {
    position: absolute;
    left: 50px;
    top: 100px;
    width: 260px;
    height: 220px;
  }

  #info-large-right-side {
    position: absolute;
    width: 350px;
    height: 140px;
    left: 35px;
    top: 320px;

    font-family: Space Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 71px;
    letter-spacing: -0.035em;

    /* Gray 1 */

    color: #333333;
  }

  #info-small-right-side {
    position: absolute;
    width: 330px;
    height: 80px;
    left: 34px;
    top: 520px;

    font-family: Space Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.035em;

    /* Gray 2 */

    color: #4f4f4f;
  }

  button {
    position: absolute;
    width: 215px;
    height: 68px;
    left: 64px;
    top: 725px;
  }

  .footer {
    position: absolute;
    width: 290px;
    height: 17px;
    left: 46px;
    top: 850px;
  }
}
